[Match]
Name=bond0

[DHCPv4]
SendHostname=true
UseHostname=true
UseDomains=true
UseDNS=true
UseNTP=true
ClientIdentifier=mac
[IPv6AcceptRA]
DHCPv6Client=true

[DHCPv6]
SendHostname=true
UseHostname=true
UseNTP=true
UseDomains=true
UseDNS=true

[Network]
DHCP=true
