[Unit]
Description=Flash Host Bios image %I to Host (MiTAC)

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/sh /usr/sbin/bios-update.sh /tmp/images/%i
